* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(19, 19, 37);
  color: White;
}
.nav {
  background-color: rgb(19, 19, 37);
  display: flex;
  justify-content: space-around;
  height: 80px;
  padding-top: 10px;
}

.name-logo {
  font-size: 30px;
  font-weight: bold;
  padding-top: 18px;
}
.info {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.info ul {
  width: 600px;
  display: flex;
  justify-content: space-around;
  padding-top: 12px;
}
.info ul li {
  font-size: 20px;
  font-weight: bold;
  margin: 0 23px;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.info ul li a {
  text-decoration: none;
  color: whitesmoke;
}
.info ul li a:hover {
  color: rgb(114, 25, 202);
  font-size: 1.4rem;
  font-weight: bold;
}
.first-class {
  display: flex;
  justify-content: space-around;

  /* margin: 40px 0; */
  margin: 30px 0;
  height: 530px;
}
.first-class > div {
  width: 35%;
  
}
.left {
  /* font-size: 3.2rem;  paila yo thyo  */ 
  font-size: 3.2rem; 
  margin: 70px 0;
}
.button {
  margin-top: 20px;
  display: flex;
}
.button .downloadresume {
  height: 40px;
  padding: 0 5px;
  background-color: rgb(11, 40, 65);
  color: white;
  font-weight: bold;
  border: 3px solid white;
  border-radius: 8 px;
  cursor: pointer;
  box-shadow: 0 0 10px #c5b8b8, 0 0 20px #6cc644, 0 0 30px #4078c0;
}
.button .downloadresume:hover {
  background-color: rgb(74, 93, 110);
}
.socialmediaicon {
  margin: 10px 50px;
  display: flex;
  gap: 30px;
}
.github,
.Linkedin,
.Twitter {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.6s ease-in-out;
}

.github i {
  font-size: 40px;

  transition: transform 2s ease-in-out;
}
.Linkedin i {
  font-size: 40px;

  transition: transform 2s ease-in-out;
}
.Twitter i {
  font-size: 40px;

  transition: transform 2s ease-in-out;
}

/* Flip animation on hover */
.github:hover {
  color: rgb(204, 234, 222);
  animation: bounce 0.8s ease-in-out;
}

.Twitter:hover {
  color: rgb(96, 22, 186);
  animation: bounce 0.8s ease-in-out;
}
.Linkedin:hover {
  color: rgb(66, 45, 204);
  animation: bounce 0.8s ease-in-out;
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.right {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.bgimage {
  width: 90%;
  height: 100%;
  border-radius: 48%;
  box-shadow: 0 0 10px #928989, 0 0 20px #6cc644, 0 0 30px #4078c0;
}
.bgimage:hover {
  box-shadow: 0 0 15px #b3b3b3, 0 0 25px #85e85f, 0 0 35px #5a9ded, 0 0 50px #ffffff;
  }

.about_me{
  margin-top: 48px;
}
.about_me h1{
  font-size: 30px;
  font-weight: bold;
  margin: 4px 45%;
}

.about_me .about_section{
  display: flex;
}